<%- include('header'); -%>
	<h1>About toDo list App</h1>
	<p>
		tldjlfjadlk jdalkjfl akjdfk lajdf
		dlfjlkadkfljalkdfjdaflkdjfdlkjlfkd
		ldkfjalkdjflkadkjfladjflkdafjkdlkf
		ldjfalkdfjdjflkdajfljdlflkajdklflkd
	</p>
<%- include('footer'); -%>