<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>To Do List App</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<div class="box" id="heading">
		<h1><%=day%> </h1>
	</div>
	
	<div class="box">
		<% items.forEach(function(item){%>
			<div class="item">
				<input type="checkbox">
				<p><%=item%></p>
			</div>
				
		<% });%>
		
		<form class="form" action="/" method="post">
			<input type="text" name="newitem" placeholder="New item">
			<button type="submit" class="button" name="button" value="<%=day%>">Add</button>
		</form>

	</div>
	
	
	
	

	

</body>
</html>